<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
    >
</head>
<body>
<main class="container">
    <h1>Painting vs photography classification</h1>

    <form action="{% url 'predict' %}" method="post">
        {% csrf_token %}
        <label for="inputImageUrl"><strong>Image url</strong></label>
        <div class="input-group">
            <input type="url" class="form-control" name="url" id="inputImageUrl" placeholder="Enter image url">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <br>
    <p>or</p>

    <form action="{% url 'predict' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label><strong>Local image</strong></label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="inputImageLocal" onchange="form.submit()">
                <label class="custom-file-label" for="inputImageLocal">Browse local file</label>
            </div>
        </div>
    </form>

    <br>
    {% if painting %}
        <div class="text-center">
            {% if url %}
                <img src="{{ url }}" class="img-thumbnail" alt="image">
            {% else %}
                {% load static %}
                <img src="{% static 'image.jpg' %}" class="img-thumbnail" alt="image">
            {% endif %}
        </div>
    {% endif %}
    <br>

    <div class="container">
        <div class="row">
            {% if painting %}
                <div class="alert {% if is_painting %} alert-success {% else %} alert-secondary {% endif %} col-md"
                     role="alert"
                >
                    <div class="text-center">painting</div>
                    <div class="text-center">{{ painting }} %</div>
                </div>

                <div class="alert {% if is_painting %} alert-secondary {% else %} alert-success {% endif %} col-md offset-sm-1"
                     role="alert"
                >
                    <div class="text-center">photo</div>
                    <div class="text-center">{{ photo }} %</div>
                </div>
            {% endif %}
        </div>
    </div>
</main>
</body>
</html>